on:
  workflow_dispatch: {}
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *' # 0 AM everyday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
          
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

          
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}

      - name: Install some APT packages
        run: sudo apt install -y git
      


      - name: Inspect restored failed build record
        continue-on-error: true
        run: cat failed-build-records/aur-packages-builder.yaml

      - name: Init AUR Builder
        uses: pacman-repo-builder/action@0.0.0-rc.63
        with:
          command: |
            build-pacman-repo init-aur-builder
            cat build-pacman-repo.yaml

      - name: Build pacman packages
        uses: pacman-repo-builder/action@0.0.0-rc.63
        with:
          command: |
            # cargo-spellcheck depends on hunspell-sys which requires libclang.so
            pacman -S --noconfirm clang

            build-pacman-repo build

      - name: Inspect changed failed build record
        continue-on-error: true
        run: cat failed-build-records/aur-packages-builder.yaml

      - name: Commit Changed Files
        run: |     
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add -A
          git checkout master
          git diff-index --quiet HEAD || git commit -am "update pkgs"
          git pull origin master --rebase=true # to avoid conflicts due to data races
          git push
